html,body {
    height: 100%;
    width: 100%;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clearfix {
    clear: both;
}

label.checkboxLabel input[type="checkbox"] {
    display: none;
}

label.checkboxLabel input[type="checkbox"]+span.glyphicon-ok {
    color: rgba(0, 0, 0, 0);
    border: 1px solid #E8E5E5;
    margin-right: 10px;
    padding: 5px;
    border-radius: 15px;
}

label.checkboxLabel input[type="checkbox"]+span.glyphicon-ok:hover {
    border: 1px solid #A8A5A5;
    color: green;
}

label.checkboxLabel input[type="checkbox"]:checked+span.glyphicon-ok {
    border: 1px solid #A8A5A5;
    color: green
}

.filter-task {
    margin-left: 20px;
}

.section-container {
    border: 1px solid #000;
    border-left: 10px solid #000;
    border-radius: 5px;
    margin-top: 20px;
    padding: 24px;
}

.section-header {
    height: 40px;
    /* padding: 6px 0px; */
}

.section-header .section-header-head {
    font-size: 16px;
    font-weight: bold;
}

.section-body.clearfix {
    height: 325px;
}

.section-body.clearfix ol {
    height: 283px;
    overflow-y: auto;
    overflow-x: hidden;
}

.create-input {
    width: 100%;
    border: 0px;
    font-size: 17px;
    margin-bottom: 5px;
    border-bottom: 1px solid transparent; 
    transition: 0.5s ease;
}

.highlight-default:focus {
   border-bottom: 1px solid #ddd; 
}

.highlight-green:focus {
  border-bottom: 1px solid #93A264;
}

.highlight-blue:focus {
   border-bottom: 1px solid #5383A4; 
}

.highlight-orange:focus {
   border-bottom: 1px solid #F6C358; 
}

.highlight-red:focus {
   border-bottom: 1px solid #fc5107; 
}

.create-input:focus,
.create-input:active,
.create-input:hover {
    outline-style: none;
}

.w80 {
    width: 80%;
}

ol {
    padding: 5px;
    list-style-type: none;
}

ol li {
    padding: 5px 0px;
}

ol li+li {
    border-top: 1px solid #eee;
}

.green {
    color: rgb(152, 205, 96);
}

.green-light {
    color: #93A264;
}

.border-green {
    border-color: rgb(152, 205, 96);
    background-color: rgba(152, 205, 96, 0.12);
}

.blue {
    color: #5383A4;
}

.blue-light {
    color: #D4DCDE;
}

.border-blue {
    border-color: #92C8ED;
    background-color: rgba(146, 200, 237, 0.12);
}

.orange {
    color: #F6C358;
}

.orange-light {
    color: #F7E8CB;
}

.border-orange {
    border-color: #F6C358;
    background-color: rgba(246, 195, 88, 0.12);
}

.red {
    color: #fc5107;
}

.red-light {
    color: #E0855D;
}

.border-red {
    border-color: #fc5107;
    background-color: rgba(252, 81, 7, 0.12);
}

.border-green input,
.border-blue input,
.border-orange input,
.border-red input {
    background-color: transparent;
}

.button-show-task {
    font-size: 11px;
    background: rgba(204, 204, 204, 0.5);
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-status+.btn-status {
    margin-left: 10px;
}

.btn.btn-all.active,
.btn.btn-all:hover {
    background-color: rgb(246, 195, 88);
}

.btn.btn-active.active,
.btn.btn-active:hover {
    background-color: rgb(152, 205, 96);
}

.btn.btn-completed.active,
.btn.btn-completed:hover {
    background-color: rgb(252, 81, 7);
}

.glyphicon-trash:hover {
    color: red;
}

@media (max-width: 1366px) {
    body {
        font-size: 10px;
    }
    .section-container {
        margin-top: 15px;
        margin-bottom: 0px;
        padding: 15px;
    }
    .section-header {
        height: 30px;
    }
    .section-header .section-header-head {
        font-size: 13px;
    }
    .section-body.clearfix {
        height: 205px;
    }
    .create-input {
        font-size: 11px;
        margin-bottom: 2px;
    }
    .section-body.clearfix ol {
        height: 163px;
    }
    .badge {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .pl-0 {
        padding-left: 0px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-in {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}


/* overwrite css */

.saving {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.66);
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
    left: 40%;
}

.list-group-item.active {
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    font-weight: bold;
}
.md-RichEditor-root li {
    border: 0px;
    padding: inherit;
}
