.clearfix{
    clear:both;
}

.filter-task{
    margin-left:20px;
}

.section-container {
    border: 1px solid #000;
    border-left: 10px solid #000;
    border-radius: 5px;
    margin-top: 20px; 
    margin-bottom: 20px;
    padding: 24px;
}

.section-header {
    height: 40px;
    /* padding: 6px 0px; */
}

.section-header .section-header-head {
    font-size: 16px;
    font-weight: bold;
}

.section-body.clearfix {
    height: 325px;
}

.create-input {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #ddd;
    font-size: 17px;
    margin-bottom: 5px; 
}

.create-input:focus,.create-input:active,.create-input:hover {
    outline-style: none;
}

ol {
    padding: 5px;
    list-style-type: none;
}

ol li {
    padding: 5px 0px;
}

ol li + li {
    border-top: 1px solid #eee;
}

.green {
    color: rgb(152, 205, 96);
}

.green-light {
    color: #93A264;
}

.border-green {
    border-color: rgb(152, 205, 96);
    background-color:rgba(152, 205, 96,0.12);
}

.blue {
    color: #5383A4;
}

.blue-light {
    color: #D4DCDE;
}

.border-blue {
    border-color: #92C8ED;
    background-color:rgba(146, 200, 237,0.12);
}

.orange {
    color: #F6C358;
}

.orange-light {
    color: #F7E8CB;
}

.border-orange {
    border-color: #F6C358;
    background-color:rgba(246, 195, 88,0.12);
    
}

.red {
    color: #fc5107;
}

.red-light {
    color: #E0855D;
}

.border-red {
    border-color: #fc5107;
    background-color:rgba(252, 81, 7,0.12);    
}

.border-green input, .border-blue input, .border-orange input, .border-red input {
    background-color: transparent; 
}